.postCodeRangesContainer {
    background-color: var(--black-3);
    padding: 1rem;
}

.remove {
    background-color: var(--black-5);
    width: 32px;
    display: flex;
    height: 32px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.input {
    margin-bottom: 0;
}

.space {
    margin-bottom: 1rem;
    width: 100%;

    > :global(.ant-space-item) {
        width: 100%;
        &:last-child {
            width: initial;
        }
    }
}
