.agencyList {
    &__column {
        left: 0;
        max-width: 200px;
    }
}

.agencyListOnline {
    &__column {
        left: 0;
        min-width: 160px;
    }
}

@media screen and (width <= 767px) {
    .agencyList {
        .ant-table-cell-fix-right {
            @include no-sticky-cell-right;
        }

        .ant-table-cell-fix-left {
            @include no-sticky-cell-left;
        }
    }
}

.desc__toggleText {
    margin-left: 0.5rem;
}

.online__title {
    display: flex;
    align-items: center;

    .tooltip {
        margin-left: 0.5rem;
    }
}
