.box {
    background: rgba(255, 255, 255, 0.7);
    padding: @grid-base-two;
    margin-bottom: @grid-base;
    border-radius: @box-border-radius;

    .bp-min(@fromMedium, set) {
        padding: @grid-base-three;
        margin-bottom: @grid-base-two;
    }
    .bp-min(@fromMedium);
}
