.counselorList {
  .ant-spin-container {
    min-height: 444px;
  }
}

.counselorListHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  h2 {
    margin: 0;
  }
}
