
.counselorList {
  .ant-spin-container {
    min-height: 444px;
  }
}

.counselorListHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin: 0;
  }
}

.counselor {
  margin: 16px 8px;
  min-height: 200px;

  .ant-card-meta-title {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;

  }

  .ant-form-item {
    margin-bottom: 0.5rem;

    input, .ant-select {
      display: none;
    }
  }

  &.editMode {
    .ant-form-item {
      input, .ant-select {
        display: block;
      }

      span.text {
        display: none;
      }
    }
  }

}