.counselorList {
  td {
    vertical-align: baseline;

    .statusIconWrapper {
      position: relative;
      top: 3px;
    }
  }

  .ant-spin-container {
    min-height: 444px;
  }

  &__toggle {
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }

  &__agencies {
    span {
      margin-right: @spacing-sm;
    } 
  }

  &__agencies + &__agencies {
    margin-top: @spacing-s;
  }
}

.counselorListHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  h2 {
    margin: 0;
  }
}
