/* Minimal form overrides for Connecta theme */
.ant-switch-checked {
    background-color: rgb(13 205 33);
}

.requiredFieldsInfo {
    color: $black-60-opacity;
    font-weight: $font-weight-regular;
}

.rc-virtual-list .ant-select-item-option-selected {
    display: none;
}

.formSwitchField__container {
    display: flex;
}
