.editableTable {
  height: 100%;

  .ant-table-body > table {
    margin-top: -@spacing-s;
    border-spacing: 0 @spacing-s;
  }

  tr {
    background-color: @skin-main-background;

    &.ant-table-row {
      &.IN_PROGRESS {
        td {
          background-color: ~`colorPalette('@{info}', 1)`;
          border-top: 1px solid ~`colorPalette('@{info}', 3)`;
          border-bottom: 1px solid ~`colorPalette('@{info}', 3)`;
          &:first-child {
            border-left: 1px solid~`colorPalette('@{info}', 3)`;
          }&:last-child {
            border-right: 1px solid ~`colorPalette('@{info}', 3)`;
          }
        }

        .anticon-info-circle {
          color: @info-color-deprecated-border;
        }

      }

      &.ERROR {
        td {
          background-color: @error-color-deprecated-bg;
          border-top: 1px solid @error-color-deprecated-border;
          border-bottom: 1px solid @error-color-deprecated-border;
          &:first-child {
            border-left: 1px solid @error-color-deprecated-border;
          }&:last-child {
             border-right: 1px solid @error-color-deprecated-border;
           }
        }
        .anticon-close-circle {
          color: @form-error
        }
      }
      &.CREATED {
        td {
          background-color: @success-color-deprecated-bg;
          border-top: 1px solid @success-color-deprecated-border;
          border-bottom: 1px solid @success-color-deprecated-border;
          &:first-child {
            border-left: 1px solid @success-color-deprecated-border;
          }&:last-child {
             border-right: 1px solid @success-color-deprecated-border;
           }
        }
        .anticon-check-circle {
          color: @success-color-deprecated-border;
        }
      }
    }

  }

  td {
    // background-color: @lightest-grey !important;

    /* editable table height same as none-editable */
    .ant-form-item {
      height: 31px;
    }
  }

  td:first-child {
    border-bottom-left-radius: @border-radius-base;
    border-top-left-radius: @border-radius-base;
  }

  td:last-child {
    border-bottom-right-radius: @border-radius-base;
    border-top-right-radius: @border-radius-base;
  }

  .ant-table-column-title {
    font-weight: 700;
  }

  .tableActionWrapper {
    display: flex;
    flex-direction: row;
    gap: @spacing-sm;
    justify-content: flex-end;
  }
  .editBtnWrapper,
  .statusIconWrapper {
    display: inline-flex;
    flex-direction: row;
    gap: @spacing-sm;
  }

  .editIcon {
    border: none;
    background: transparent;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  .statusIconWrapper {
    svg {
      width: 24px;
      height: 24px;
    }
    // font-size: 21px;
  }


  .ant-table-sticky-scroll {
    display: none;
  }
}
