$overlay-icon-size-xs: 24px;
$overlay-steps-breakpoint: 560px;
$overlay-icon-size: 56px;
$overlay-icon-size-large: 48px;
$overlay-illustration-size: 120px;
$overlay-illustration-size-large: 80px;

.overlay {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;

    &__background {
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        animation: fadeIn linear 0.5s;
        background: rgb(101 95 101 / 85%);

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    }

    &__content {
        position: relative;
        display: flex;
        overflow: scroll;
        width: 100vw;
        max-width: none;
        height: 100vh;
        flex-direction: column;
        padding: $grid-base-ten $grid-base-three $grid-base-six;
        border-radius: 4px;
        margin: auto;
        animation: fadeIn linear 0.8s;
        background-color: $white;
        text-align: $overlay-text-align;

        @media only screen and (min-width: $fromMedium) {
            padding: $grid-base-six $grid-base-three;
        }

        @media only screen and (min-width: $fromLarge) {
            overflow: visible;
            width: 100%;
            max-width: 720px;
            height: auto;
            padding: $grid-base-six;
        }

        @keyframes fadeIn {
            0% {
                opacity: 0;
            }

            50% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        h1 {
            margin-bottom: $grid-base-two;
        }
    }

    &__closeIcon {
        position: absolute;
        top: 18px;
        right: 18px;
        cursor: pointer;

        @media only screen and (min-width: $overlay-steps-breakpoint) {
            top: 24px;
            right: 24px;
        }
    }

    &__steps {
        display: flex;
        flex-direction: row;
        margin: 0 auto 36px;

        .text {
            display: none;
            color: var(--skin-color-primary-contrast-safe, $primary);
            text-transform: uppercase;

            @media only screen and (min-width: $fromLarge) {
                display: block;
            }
        }
    }

    &__step {
        display: flex;

        &:not(:first-of-type) {
            &:before {
                width: 25px;
                border-top: 1px solid $form-disabled;
                margin: $overlay-icon-size-xs $grid-base $overlay-icon-size-xs;
                content: '';

                @media only screen and (min-width: $overlay-steps-breakpoint) {
                    width: 60px;
                    margin: $overlay-icon-size-xs -14px $overlay-icon-size-xs;
                }
            }
        }

        svg {
            width: $overlay-icon-size-xs;
            height: $overlay-icon-size-xs;
            fill: var(--skin-color-primary, $primary);
        }

        .text {
            min-width: 104px;
            max-width: 110px;
            margin-top: $grid-base;
            text-align: center;
        }

        &--active {
            .overlay__stepIcon {
                background-color: var(--skin-color-primary, $primary);
            }

            svg,
            path {
                fill: $white;
            }
        }

        &--disabled {
            .overlay__stepIcon {
                border-color: $form-disabled;
            }

            .text {
                color: $form-disabled;
            }

            svg,
            svg path {
                fill: $form-disabled;
            }
        }
    }

    &__stepIcon {
        display: flex;
        width: calc(#{$overlay-icon-size-xs} * 2);
        height: calc(#{$overlay-icon-size-xs} * 2);
        align-items: center;
        justify-content: center;
        border: 1px solid var(--skin-color-primary, $primary);
        border-radius: $overlay-icon-size-xs;
    }

    &__stepContent {
        display: flex;
        flex-direction: column;
        align-items: center;

        .text {
            .overlay--stepped & {
                text-align: center;
            }
        }
    }

    &__stepHeadline {
        font-weight: $font-weight-regular;

        &--prefix {
            font-weight: $font-weight-bold;
        }
    }

    &__illustrationWrapper {
        margin-bottom: $grid-base;

        @media only screen and (min-width: $fromLarge) {
            $size: $overlay-illustration-size-large + $grid-base * 2;

            position: absolute;
            top: -$size / 2;
            left: 50%;
            display: inline-block;
            width: $size;
            height: $size;
            padding: $grid-base;
            border-radius: 50%;
            background-color: $white;
            transform: translateX(-50%);
        }
    }

    &__illustration {
        display: flex;
        width: $overlay-illustration-size;
        height: $overlay-illustration-size;
        align-self: center;
        justify-content: center;
        border-radius: $overlay-illustration-size / 2;
        margin-right: auto;
        margin-bottom: $grid-base-four;
        margin-left: auto;
        background-color: $illustration-background-info;

        @media only screen and (min-width: $fromLarge) {
            width: $overlay-illustration-size-large;
            height: $overlay-illustration-size-large;
        }

        & > svg {
            width: $overlay-icon-size;
            height: $overlay-icon-size;
            align-self: center;

            @media only screen and (min-width: $fromLarge) {
                width: $overlay-icon-size-large;
                height: $overlay-icon-size-large;
            }
        }

        &--neutral {
            background-color: $illustration-background-neutral;
        }

        &--error {
            background-color: $illustration-background-error;
        }

        &--info {
            background-color: $illustration-background-info;
        }
    }

    .headline--1 {
        margin-bottom: 0;
    }

    .text {
        margin-top: $grid-base-two;
        text-align: $overlay-text-align;

        &.inputField__infoText {
            margin-top: $grid-base;
        }
    }

    &__nestedComponent {
        .inputField {
            max-width: 325px;
            margin: $overlay-input-field-margin;
        }

        ul li,
        ol li {
            text-align: $overlay-list-align;
        }
    }

    &--illustration .overlay__content {
        padding-top: ($overlay-illustration-size / 2) + $grid-base;

        @media only screen and (min-width: $fromLarge) {
            padding-top: ($overlay-illustration-size-large / 2) + $grid-base;
        }
    }

    &--stepped {
        .text,
        .headline {
            text-align: $overlay-stepped-text-align;
        }
    }

    &--stepped &__nestedComponent {
        .inputField {
            max-width: 400px;
            margin: $overlay-stepped-input-field-margin;

            @media only screen and (min-width: $fromSmall) {
                max-width: 325px;
            }
        }
    }

    &__buttons {
        margin: $overlay-button-margin;

        > * {
            display: inline-block;
            margin-top: $grid-base;
            margin-left: $grid-base;
        }
    }

    .button {
        &__wrapper {
            width: 100%;
            margin-top: $grid-base-two;

            @media only screen and (min-width: $fromSmall) {
                width: auto;
            }

            &:last-child {
                padding-bottom: $grid-base-three;

                @media only screen and (min-width: $fromLarge) {
                    padding-bottom: 0;
                }
            }
        }

        &__item {
            width: 100%;
        }
    }
}

.overlay__registration {
    z-index: 100;
}

.registration__blur {
    filter: blur(5px);
}
