.protectedLayout {
  .ant-layout-sider {
    z-index: 80;
    background-color: @primary-color;
  }

  .mainMenu {
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 10px 0;
      margin: 0;
      list-style: none;
    }

    .menuIcon svg {
      width: 1.2rem;
      height: 1.2rem;
    }

    .menuItem {
      display: block;

      &:last-child {
        display: none;
      }

      a,
      button {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        border: none;
        background: transparent;
        color: @white;
        font-size: @fontSize-s;
        justify-items: center;
        text-align: center;
      }

      a {
        opacity: 0.6;

        &.active {
          opacity: 1;
        }
      }
    }
  }

  .contentInner {
    max-width: @screen-xxl;
    padding: @spacing-m;
  }

  h4.formHeadline {
    color: @primary-color;
    font-size: @fontSize-sm;
    font-weight: 700;
    line-height: @lineHeight-sm;
    text-transform: uppercase;
  }
}

/* hate this not mobile First with all these !important */
@media screen and (max-width: @screen-sm-max) {
  .protectedLayout {
    .ant-layout-sider {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100% !important;
      max-width: 100% !important;
    }
  }
}

@media screen and (min-width: @screen-md) {
  .protectedLayout {
    height: 100vh;

    .ant-layout-sider {
      position: static;
      left: 0;
      width: 140px;
      flex: 0 0 140px;
    }

    .mainMenu {
      height: 100%;

      ul {
        height: inherit;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 50px 0 0;
      }

      .menuItem {
        margin: 0 auto 40px;

        &:last-child {
          display: flex;
          justify-content: center;
          margin-top: auto;
        }
      }

      .menuIcon svg {
        width: 1.6rem;
        height: 1.6rem;
      }
    }

    .content {
      overflow: auto;
      padding: @spacing-ml;
    }
  }
}
