// styles for table resizing
.react-resizable {
    position: relative;
    background-clip: padding-box;
}

.react-resizable-handle {
    position: absolute;
    z-index: 99;
    right: -5px;
    bottom: 0;
    width: 20px;
    height: 100%;
    cursor: col-resize;
}
