$two-factor-auth-overlay-buttons-margin-right: auto;

.twoFactorAuth {
    &__switch {
        display: flex;

        .text {
            margin: auto 0 auto $grid-base;
        }
    }

    &__overlay {
        .overlay__content {
            @media only screen and (min-width: $fromLarge) {
                height: 620px;
            }
        }

        .overlay__buttons {
            width: 100%;
            align-self: flex-end;
            margin-top: auto;

            @media only screen and (min-width: $fromSmall) {
                width: auto;
            }

            @media only screen and (min-width: $fromMedium) {
                display: flex;
                width: 100%;
                justify-content: space-between;
            }

            .button__wrapper {
                width: calc(50% - #{$grid-base-two});
            }
        }

        @media only screen and (min-width: $fromMedium) {
            .overlay__buttons .button__wrapper {
                width: calc(50% - #{$grid-base-two});
            }
        }

        .button__wrapper {
            margin-top: $grid-base-three;
            margin-right: $two-factor-auth-overlay-buttons-margin-right;
            margin-left: auto;
        }

        .button__wrapper + .button__wrapper {
            @media only screen and (min-width: $fromSmall) {
                margin-left: $grid-base-two;
            }
        }

        .inputField__infoText {
            color: $form-error;
            text-align: left;
        }
    }

    &__tools {
        display: grid;
        grid-template-columns: auto;

        @media only screen and (min-width: $fromMedium) {
            grid-template-columns: auto auto;
        }
    }

    &__tool {
        display: grid;
        margin-top: $grid-base-two;

        @media only screen and (min-width: $fromMedium) {
            margin-top: 0;
        }

        & > .text {
            font-weight: $font-weight-bold;
            text-align: left;
        }

        a {
            display: flex;
            margin-top: $grid-base-two;
            color: var(--skin-color-primary-contrast-safe, $primary);
            cursor: pointer;
            justify-items: start;

            .text {
                margin: auto 0 auto $grid-base;
                color: var(--skin-color-primary-contrast-safe, $primary);

                &:hover {
                    color: var(--skin-color-primary-contrast-safe, $hover-primary);
                }
            }
        }
    }

    &__connect {
        .text__divider {
            display: flex;
            color: var(--skin-color-secondary-contrast-safe, $primary);
            text-transform: uppercase;

            &:before,
            &:after {
                width: max-content;
                flex-grow: 1;
                border-top: 1px solid var(--skin-color-secondary-contrast-safe, $primary);
                margin: auto $grid-base;
                content: '';
            }
        }

        @media only screen and (min-width: $fromMedium) {
            display: flex;
            margin-top: $grid-base-three;

            .twoFactorAuth__qrCode,
            .twoFactorAuth__key {
                width: 50%;
                flex-shrink: 0;
            }

            .text__divider {
                display: none;
            }
        }
    }

    &__qrCode {
        display: flex;

        img {
            width: $two-factor-qr-code-width;
        }

        & + .text__divider {
            margin: 12px 0 24px;
        }

        @media only screen and (min-width: $fromMedium) {
            flex-direction: column;
        }
    }

    &__qrCodeImage {
        margin: auto;
    }

    &__key {
        @media only screen and (min-width: $fromMedium) {
            padding-left: $grid-base-two;
            border-left: 2px solid var(--skin-color-primary, $primary);
        }

        .text + .text {
            font-weight: $font-weight-bold;
        }
    }

    &__selectType {
        width: 100%;
        margin-top: $grid-base-three;

        @media only screen and (min-width: $fromSmall) {
            display: flex;
        }
    }

    &__radioWrapper {
        display: flex;
        width: 100%;
        align-items: center;
        padding: 0 10px;
        border: $overlay-radio-outline;
        border-radius: $overlay-radio-radius;
        margin: 0 $grid-base 0 0;
        margin-top: $grid-base-two;

        .radioButton {
            min-height: auto;
            margin-left: 0;

            label {
                padding-top: 13px;
                padding-bottom: 13px;
            }
        }

        .radioButton__contentWrapper {
            align-items: center !important;

            @media only screen and (min-width: $fromSmall) {
                margin: 0 $grid-base 0 0;
            }
        }

        & + .twoFactorAuth__radioWrapper {
            margin: 0 0 0 $grid-base;
        }
    }

    &__emailConfirmation {
        svg {
            max-width: 240px;
        }

        .headline {
            text-align: center !important;
        }
    }
}
