.select {
    padding: 0;
    border: none;
    border: 1px solid var(--input-border-color) !important;
    background-color: white;
    border-radius: 0;
    color: rgb(0 0 0 / 87%);

    &:focus {
        box-shadow: none;
    }

    &[disabled] {
        background: none;
        color: rgb(0 0 0 / 40%);
    }

    :global {
        .ant-select-selector {
            padding: 2px 16px !important;
            padding: 0;
            border-color: transparent !important;
            background-color: transparent !important;
            box-shadow: none !important;
        }

        .ant-select-selection-placeholder {
            padding: 5px 11px !important;
        }

        .ant-select-selection-item {
            display: flex;
            height: 32px !important;
            align-items: center;
            margin-left: 0;
        }
    }
}
