.sliderContainer {
    :global(.ant-form-item-label label) {
        height: 26px;
    }

    :global(.ant-form-item-control) {
        padding: 10px 20px;
        background: var(--black-3);
    }
}
