.input {}

.item {}

.disabled {}

.withAddon {
    &.disabled {
        .input {
            border-color: var(--input-disabled-border-color);
            background: var(--input-disabled-bg);
            color: var(--input-disabled-color);
        }
    }
}

:global(.ant-form-vertical) :local(.item) {
    :global(.ant-form-item-label) {
        padding-bottom: 4px;
    }

    :global(label) {
        height: initial;
    }
}
