.disabled {
    :global {
        path {
            fill: rgb(0 0 0 / 20%);
        }
    }
}

.iconButton {
    display: flex;
    width: 36px;
    height: 36px;
    align-items: center;
    border: none;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;

    &:hover {
        background: rgb(39 50 112 / 10%);
    }
}

.disabled {
    path {
        fill: gray;
    }
}
