.disabled {
    :global {
        path {
            fill: rgb(0 0 0 / 20%);
        }
    }
}

.iconButton {
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    padding: 0;
    line-height: 36px;
    text-align: center;

    &:hover {
        background: rgba(39, 50, 112, 0.1);
    }
}

.disabled {
    path {
        fill: gray;
    }
}
