.checkGroup {
    margin-bottom: 16px;
}

.checkInfo {
    width: calc(100% - 71px);
    color: var(--black-60);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.notifications {
    :global(.ant-form-item-label) {
        padding: 0;

        label {
            height: auto;
            color: var(--black-90);
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
        }
    }
}
