.textarea {
    padding: 12px 16px;
}

.item {}

.disabled {}

:global(.ant-form-vertical) :local(.item) {
    :global(.ant-form-item-label) {
        padding-bottom: 4px;
    }

    :global(label) {
        height: initial;
    }
}
