.textarea {
    padding: 12px 16px;
    border: none;
    border: 1px solid rgb(0 0 0 / 87%) !important;
    border-radius: 0;
    color: rgb(0 0 0 / 87%);

    &:focus {
        box-shadow: none;
    }

    &:active {
        border-color: rgb(0 0 0 / 87%);
        color: rgb(0 0 0 / 87%);
    }

    &[disabled] {
        border: 1px solid rgb(0 0 0 / 20%) !important;
        background: none;
        color: rgb(0 0 0 / 40%);
    }
}

.item {
    :global {
        label {
            height: initial !important;

            &.ant-form-item-required {
                &:before {
                    display: none !important;
                }

                &:after {
                    display: inline-block;
                    margin-right: 4px;
                    color: inherit;
                    content: '*';
                    font-family: SimSun, sans-serif;
                    font-size: 12px;
                    line-height: 1;
                }
            }
        }

        .ant-form-item-label {
            padding-bottom: 4px;
            color: rgb(0 0 0 / 60%);
            font-size: 12px;
            line-height: 16px;
        }
    }
}
