@import "~antd/dist/antd.less";

@import "variables/index.less";
@import "components/index.less";
@import "util/index.less";

.root {
  overflow: hidden;
}

h1 {
  font-size: @fontSize-xl;
  line-height: @lineHeight-xl;
}

h2 {
  font-size: @fontSize-l;
  line-height: @lineHeight-l;
}

h3 {
  font-size: @fontSize-ml;
  line-height: @lineHeight-ml;
}

h4 {
  font-size: @fontSize-m;
  line-height: @lineHeight-m;
}

h1, h2, h3, h4 {
  &.ant-typography {
    font-weight: 700;
  }
}


.ant-popover {
  &.ant-popover-placement-bottomRight {
    .ant-popover-arrow {
      right: 7px;
    }
  }

  max-width: 350px;
  .ant-popover-title {
    font-weight: 700;
    font-size: @fontSize-m;
    border: none;
    padding: @spacing-m @spacing-ml 0 @spacing-ml;
  }
  .ant-popover-inner-content {
    padding: @spacing-s  @spacing-ml @spacing-m @spacing-ml;
  }
}