.input {
    :global(.ant-input-number-input) {
        padding-left: 0;
    }

    &:global(.ant-input-number-focused) {
        border-width: 2px;
        border-color: var(--input-active-border-color);
        box-shadow: none;
        outline: none;
    }
}
