.activeLanguage {
    display: block;
}
.notActive {
    display: none;
}

.containerLabel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.translateField {
    padding-bottom: 22px;

    :global {
        .ant-form-item-explain-error {
            margin-bottom: -22px;
        }
    }
}
