.description {
    margin-bottom: 8px;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.warning {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 400;
    gap: 10px;
    line-height: 16px;
}

.fieldGroup {
    margin-bottom: 36px;

    &:first-child {
        margin-top: 24px;
    }
}

.buttons {
    display: flex;
    gap: 16px;
}
