.input {
    padding: 12px 16px !important;
    border: none;
    border: 1px solid var(--input-border-color) !important;
    border-radius: 0;
    color: rgba(0, 0, 0, 0.87);
    background-color: white;

    &:focus {
        box-shadow: none;
    }

    &[disabled] {
        background: none;
        color: rgba(0, 0, 0, 0.4);
    }

    &.ant-input-status-error {
        border-top: 0 !important;
    }
}
