.sliderContainer {
    :global(.ant-form-item-label label) {
        height: 26px;
    }

    :global(.ant-form-item-control) {
        background: var(--black-3);
        padding: 10px 20px;
    }
}

.option,
.optionGroup {
    display: flex;
}

.optionName {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: var(--black-87);
}

.optionGroup {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    color: var(--black-60);
    gap: 5px;
}

.select {
    :global(.ant-select-selection-item) {
        .optionGroup {
            display: none;
        }
        .optionName {
            color: var(--black-80);
        }
    }
}
