// grid
@grid-columns: 12;

@layout-body-background: @skin-main-background;
@layout-header-background: @white;
@layout-header-height: 60px;
@layout-header-padding: 0;
@layout-footer-padding: 0;

// height for inputs, buttons, etc.
@height-base: 40px;
@height-sm: 35px;


@link-color: @text-color;