.item {
    :global {
        label {
            height: initial!important;

            &.ant-form-item-required {
                &:before {
                    display: none!important;
                }

                &:after {
                    display: inline-block;
                    margin-right: 4px;
                    color: inherit;
                    content: '*';
                    font-family: SimSun, sans-serif;
                    font-size: 12px;
                    line-height: 1;
                }
            }
        }

        .ant-form-item-label {
            padding-bottom: 4px;
            color: rgb(0 0 0 / 60%);
            font-size: 12px;
            line-height: 16px;
        }
    }
}
