.searchWithButton {
    display: flex;
    width: 50%;
    max-width: 529px;
    gap: 24px;

    @media (width <= 767px) {
        width: 100%;
    }
}

.searchContainer {
    display: flex;
    justify-content: flex-end;
}
