.page {
    display: flex;
    min-height: calc(100% - 49px);
}

.stickyHeaderPage {
    .content {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .back + *,
    .pageTitleContainer + * {
        padding: 0 25px;
    }

    .back,
    .pageTitleContainer {
        position: sticky;
        background: #f2efea;
        z-index: 900;
        padding: 25px;
        top: 0;
    }
}

.content {
    padding: 25px;
    width: 100%;
}

.tabsContainer {
    display: flex;
    flex: 1 1 0;
    align-items: flex-start;
    justify-content: center;
    padding-right: 25%;
    color: rgb(0 0 0 / 60%);
    gap: 32px;

    :global {
        .active,
        a:hover {
            border-color: var(--primary);
            color: var(--primary);
        }
    }

    @media screen and (max-width: 800px) {
        padding: 20px 0;
    }
}

.tab {
    border-bottom: 4px solid transparent;
    font-size: 16px;
    line-height: 24px;
    display: inline-flex;
}

.tabIcon {
    margin-left: 4px;
}

.titleContainer {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 770px) {
        width: 100%;
    }

    @media screen and (max-width: 800px) {
        padding-right: 0;
    }

    :global {
        p {
            margin-bottom: 0;
        }
    }
}

.titleWithTabs,
.backWithTabs {
    width: 25%;

    @media screen and (max-width: 770px) {
        width: 100%;
    }

    @media screen and (max-width: 800px) {
        padding-right: 0;
    }
}

.title {
    text-align: left;
}

.pageTitleContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 32px;
}

.back {
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;

    @media (max-width: 650px) {
        flex-direction: column;
    }
}

.backLink {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.backHeadline {
    margin-bottom: 0;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
}
