.page {
    display: flex;
}

.page,
.content {
    width: 100%;
}

.tabsContainer {
    display: flex;
    flex: 1 1 0;
    align-items: flex-start;
    justify-content: center;
    padding-right: 25%;
    color: rgb(0 0 0 / 60%);
    gap: 32px;

    :global {
        .active,
        a:hover {
            border-color: var(--primary);
            color: var(--primary);
        }
    }

    @media screen and (max-width: 800px) {
        padding: 20px 0;
    }
}

.tab {
    border-bottom: 4px solid transparent;
    font-size: 16px;
    line-height: 24px;
}

.titleContainer {
    display: flex;
    width: 25%;
    flex-direction: column;

    @media screen and (max-width: 770px) {
        width: 100%;
    }

    @media screen and (max-width: 800px) {
        padding-right: 0;
    }

    :global {
        p {
            margin-bottom: 0;
        }
    }
}

.title {
    text-align: left;
}

.pageTitleContainer {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 32px;
}

.back {
    display: flex;
    padding-bottom: 32px;
}

.backLink {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.backHeadline {
    margin-bottom: 0;
}
