.fullHeight {
    height: 100%;
}

.footerActions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 20px;
}

.editCard {
    background: transparent;
    appearance: none;
    border: none;
    cursor: pointer;
}

.cardTitleClassName {
    min-height: 31.5px;
}
