:root {
    /* Spacing */
    --spacing-xxs: 3px;
    --spacing-xs: 5px;
    --spacing-s: 10px;
    --spacing-sm: 15px;
    --spacing-m: 20px;
    --spacing-ml: 25px;
    --spacing-l: 30px;
    --spacing-xl: 40px;
    --spacing-2xl: 80px;
    --mobileNavHeight: 60px;
    /* font size */
    --fontSize-xs: 10px;
    --fontSize-s: 12px;
    --fontSize-sm: 14px;
    --fontSize-m: 16px;
    --fontSize-ml: 24px;
    --fontSize-l: 32px;
    --fontSize-xl: 40px;
    --fontSize-2xl: 80px;

    --lineHeight-xs: calc(var(--fontSize-xs) * 1.8);
    --lineHeightxs: calc(var(--fontSize-s) * 1.8);
    --lineHeight-sm: calc(var(--fontSize-sm) * 1.8);
    --lineHeight-m: calc(var(--fontSize-m) * 1.8);
    --lineHeight-ml: calc(var(--fontSize-ml) * 1.8);
    --lineHeight-l: calc(var(--fontSize-l) * 1.8);
    --lineHeight-xl: calc(var(--fontSize-xl) * 1.8);
    --lineHeight-2xl: calc(var(--fontSize-2xl) * 1.8);

    /* Ant defaults */
    --input-border-color: rgba(0, 0, 0, 0.2);
    --input-bg: transparent;
    --label-color: rgba(0, 0, 0, 0.6);
    --form-item-label-font-size: var(--fontSize-s);
    --form-item-label-height: auto;
    --form-item-margin-bottom: var(--spacing-sm);

    /* Colors */
    --white: #fff;
    --white-50-opacity: rgba(255, 255, 255, 0.5);
    --black: #000;
    --black-25-opacity: rgba(0, 0, 0, 0.25);
    --black-10-opacity: rgba(0, 0, 0, 0.1);
    --primary: #273270;
    --secondary: #3f373f;
    --tertiary: rgba(var(--black), 0.6);
    --background-accent: #f8dedd;

    --hover-primary: #525b8d;
    --hover-select: #f4d2d1;

    --background-light: #f4f0ee;
    --background-lighter: #faf6f3;
    --background-grey: #677391;

    --form-primary: #8c878c;
    --form-secondary: #3f373f;
    --form-success: #0dcd21;
    --form-medium: #ff9f00;
    --form-error: #f00;
    --form-disabled: #c4bfc4;
    --form-active: #3f373f;

    --light-grey: #787378;
    --light-grey-hover: #655f65;
    --light-red: #e07876;
    --line-grey: #c4bfc4;
    --line-ochre: #cebfaa;
    --dark-brown: #432000;
    --light-brown: #b5906e;
    --dark-grey: #e7e3e1;

    /* YELLOW THEME */
    --yellow-1: #ffeed2;
    --yellow-2: #ffe7bf;
    --yellow-3: #ffdca3;
    --yellow-4: #febd50;
    --yellow-5: #ff9f00;
    --yellow-6: #de8a00;

    /* breakpoints */
    --from-small: 520px;
    --from-medium: 600px;
    --from-large: 900px;
    --from-xl-large: 1200px;
    --from-xx-large: 1600px;
}
