.hidden {
    visibility: hidden;
}

.underline {
    text-decoration: underline;
}

.block {
    display: block;
}

/* spacings */
.mb-sm.mb-sm {
    margin-bottom: @spacing-sm;
}

.mr-sm.mr-sm {
    margin-right: @spacing-sm;
}

.mb-m.mb-m {
    margin-bottom: @spacing-m;
}

.mb-l.mb-l {
    margin-bottom: @spacing-l;
}

.mb-xl.mb-xl {
    margin-bottom: @spacing-xl;
}

.mb-2xl.mb-2xl {
    margin-bottom: @spacing-2xl;
}

.pb-xl.pb-xl {
    padding-bottom: @spacing-xl;
}

.w-200 {
    width: 200px;
}
