name: FE build Admin console

on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "dockerImage.v.*"

jobs:
  build:
    name: Build & Release
    if: "!contains(github.event.head_commit.author, 'action@github.com')"
    runs-on: ubuntu-latest
    steps:
      - name: set env
        run: echo BRANCH=$(echo -n "${GITHUB_REF#refs/heads/}") >> $GITHUB_ENV
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v2
        with:
          node-version: 14.18.3
      - run: npm i
        env:
          GITHUB_TOKEN: ${{ secrets.github_token }}
      - name: Run linters
        uses: wearerequired/lint-action@v1
        with:
          github_token: ${{ secrets.github_token }}
          eslint: true
          eslint_dir: ./
          eslint_extensions: js,ts,tsx
          prettier: true
      - name: test and build
        run: |
          echo "127.0.0.1 localhost" | sudo tee -a /etc/hosts
          echo "fs.inotify.max_user_watches=524288" | sudo tee -a /etc/sysctl.conf
          npm run test
          npm run build
        env:
          GITHUB_TOKEN: ${{ secrets.github_token }}
      - name: Bump version
        if: startsWith(env.BRANCH,'release') == true
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          npm run release
        env:
          GITHUB_TOKEN: ${{ secrets.github_token }}
      - name: Push changes
        if: startsWith(env.BRANCH,'release') == true
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{env.BRANCH}}
          force: true
          tags: true
      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: cypress-videos
          path: cypress
